---
import { getCollection } from 'astro:content';
import FormattedDate from '../FormattedDate.astro';
const currentDate = new Date();
currentDate.setHours(0, 0, 0, 0);
---

<style>
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .flex-item {
    width: calc(32% - 1rem);
    text-decoration: none;
    transition: 0.2s ease;
    text-align: center;
    flex-grow: 1;
  }
  .flex-item img {
    margin-bottom: 0.5rem;
    border-radius: 12px;
    max-width: 50%;
  }
  .flex-item a {
    display: block;
  }
  .title {
    margin: 0;
    color: rgb(var(--black));
    line-height: 1;
  }
  .date {
    margin: 0;
    color: rgb(var(--gray));
  }
  .flex-item:hover .title,
  .flex-item:hover .date {
    color: #FAC800;
  }
  .flex-item:hover img {
    box-shadow: var(--box-shadow);
  }
  h2 {
    text-align: center;
  }
  @media (max-width: 720px) {
    .flex-container {
      flex-direction: column;
      gap: 0.5em;
      width: 100%;
    }
    .flex-item {
      width: 100%;
      text-align: center;
    }
    .flex-item img {
      margin-bottom: 0.5rem;
      border-radius: 12px;
      width: 100%;
    }
  }

</style>

<div class="flex-container">
  {
    (async () => {
      const events = await getCollection('events');
      const upcomingEvents = events
        .filter(event => new Date(event.data.eventDate) >= currentDate)
        .sort((a, b) => a.data.eventDate.valueOf() - b.data.eventDate.valueOf());
      const firstEvent = upcomingEvents[0];
      return (
        <div class="flex-item">
          <h5>Check out our next Tournament!</h5>
          <a href={`/tournaments/${firstEvent.slug}/`}>
            <img width={720} height={360} src={firstEvent.data.heroImage} alt="" />
          </a>
          <h4 class="title">{firstEvent.data.title}</h4>
          <p class="date"><FormattedDate date={firstEvent.data.eventDate} /></p>
        </div>
      );
    })()
  }
  {
    (async () => {
      const socials = await getCollection('studleySocials');
      const upcomingSocials = socials
        .filter(social => new Date(social.data.eventDate) >= currentDate)
        .sort((a, b) => a.data.eventDate.valueOf() - b.data.eventDate.valueOf());
      const firstSocial = upcomingSocials[0];
      return (
        <div class="flex-item">
          <h5>Come to our next Studley Social 6-8pm!</h5>
          <img width={720} height={360} src={"/website/events/Logo.PNG"} alt="" />
          <h4 class="location">{firstSocial.data.location}</h4>
          <p class="date"><FormattedDate date={firstSocial.data.eventDate} /></p>
        </div>
      );
    })()
  }
  {
    (async () => {
      const sextonsocials = await getCollection('sextonSocials');
      const upcomingsextonSocials = sextonsocials
        .filter(sextonsocial => new Date(sextonsocial.data.eventDate) >= currentDate)
        .sort((a, b) => a.data.eventDate.valueOf() - b.data.eventDate.valueOf());
      const firstSocial = upcomingsextonSocials[0];
      return (
        <div class="flex-item">
          <h5>Come to our next Sexton Social 6-8pm!</h5>
          <img width={720} height={360} src={"logo.png"} alt="" />
          <h4 class="location">{firstSocial.data.location}</h4>
          <p class="date"><FormattedDate date={firstSocial.data.eventDate} /></p>
        </div>
      );
    })()
  }
</div>
